
div.undp-tick-text {
  font-size: 0.75rem;
  color: var(--gray-300);
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.undp-tick-line {
  stroke-dasharray: '2,2';
  stroke-width: 1px;
  stroke: var(--gray-200);
}

.undp-color-key-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.undp-color-key-el {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  font-size: 1rem;
  color: var(--gray-600);
}

.undp-color-box {
  width: 0.875rem;
  height: 0.875rem;
}